In [26]:
import pandas as pd

In [28]:
df = pd.read_csv('vgsales...csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

LIST

In [5]:
letters = ['a', 'b', 'c']

matrix = [[0, 1], [2, 3]]

zeros = [0] * 5  # we can use this to list 5 zeros or another other numbers

print(zeros)

combined = zeros + letters  # we can add lists together
print(combined)

numbers = list(range(20))
print(numbers)

chars = list('Hello world') # list can house string as well as integer
print(chars)
print(len(chars))

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 'a', 'b', 'c']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
11

In [121]:
# SLICING LIST

letters = ['a', 'b', 'c', 'd']

letters[0] = 'A'  # this replace the value in position [0] to 'A'

print(letters)

print(letters[0:3])        # this print the value from index 0 to 2 and ignore 3
print(letters[:3])         # this print value from index 0 to 2 and ignore 3
print(letters[0:])         # print values from index 0 to end
print(letters[1:3])        # print from value index of 1 to 2 and ignore 3

['A', 'b', 'c', 'd']
['A', 'b', 'c']
['A', 'b', 'c']
['A', 'b', 'c', 'd']
['b', 'c']

STEPS IN SLICING

In [39]:
# STEPS IN SLICING
# It skips result base on the slicing value... [::2]skips 1 values, [::3]skips


numbers = list(range(20))

print(numbers)
print(numbers[::2])
print(numbers[::3])
print(numbers[::4])
print(numbers[::-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 3, 6, 9, 12, 15, 18]
[0, 4, 8, 12, 16]
[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

In [38]:
# the below print statement are the same


#print(df['Name'][0:5])
print(df.Name[0:5])

0                  Wii Sports
1           Super Mario Bros.
2              Mario Kart Wii
3           Wii Sports Resort
4    Pokemon Red/Pokemon Blue
Name: Name, dtype: object

LIST UNPACKING
Used to asign values from a list to different variables in a single line of code
* is use to combine VALUES together.

In [76]:

packing = df.Name[0:5]

first, second, third, *other =packing # assign values to first,second,third and the rest to other
bo, yes, *others, go = packing # this assign values to bo, yes and the rest to others but the last value to go

In [51]:
first
second
third
other

['Wii Sports Resort', 'Pokemon Red/Pokemon Blue']

LOOPING OVER LISTS
Enumerate() allows us to keep track of the number of iterations (loops) in a loop. The enumerate object contains a count (from the start, which always defaults to 0) and a value obtained from iterating over the iterable object

In [63]:
packing = df.Name[0:5]

for index, letter in enumerate(packing):
    print(index, letter)

0 Wii Sports
1 Super Mario Bros.
2 Mario Kart Wii
3 Wii Sports Resort
4 Pokemon Red/Pokemon Blue

ADDING AND REMOVING VALUE FROM LIST

In [82]:
# Append is used to add value to the end of a dataframe

new_row = pd.Series({'Name': 'soccer'})
packing = packing.append(new_row, ignore_index=True)

print(packing)

0                  Wii Sports
1           Super Mario Bros.
2              Mario Kart Wii
3           Wii Sports Resort
4    Pokemon Red/Pokemon Blue
5                      soccer
6                      soccer
dtype: object

In [98]:
letters = ['a', 'b', 'c', 'd']


#ADD
letters.append('e') # append add value to the end of a list
letters.insert(6, 'f') # insert add value to the assign location as done here, f to index 6

#REMOVE / DELETE
letters.pop(0) # This remove value from index 0 from the list
letters.remove('f') # This remove the value 'f' from the list
del letters[0:2] # del is used to delete more than one value as seen in our example
letters.clear() # this is used to clear all the values in a list

In [99]:
letters

[]

FINDING ITEMS IN LIST

In [120]:
letters = ['a', 'b', 'c', 'd']

print(letters.count('f'))  #to know if 'f' exist, count can help us

if 'f' in letters:
    print(letters.index('f')) # we can also use loop to check if it exist

0

In [110]:
print(packing)

0                  Wii Sports
1           Super Mario Bros.
2              Mario Kart Wii
3           Wii Sports Resort
4    Pokemon Red/Pokemon Blue
5                      soccer
6                      soccer
dtype: object

In [133]:
# SORTING LISTS

numbers= [3, 15, 2, 9, 6]

print(numbers)

print(sorted(numbers))

print(sorted(numbers, reverse= True))

[3, 15, 2, 9, 6]
[2, 3, 6, 9, 15]
[15, 9, 6, 3, 2]

In [144]:
# Sorting complex objectts... we are sorting item based on object in index [1] which is either, 10, 13, or 9.

item = [ ('product1', 10), ('product2', 13), ('product3', 9) ]

def sort_item(item):
    return item[1]

#sort_item(item)
item.sort(key= sort_item)
print(item)

[('product3', 9), ('product1', 10), ('product2', 13)]

LIST COMPREHENSION, List comprehension code is more readable than map and lambda

In [173]:
# Extracting values
item = [ ('product1', 10), ('product2', 13), ('product3', 9) ]

com_i_item = [item[1] for item in items]
print(com_i_item)

[10, 13, 9]

In [178]:
#Filtered

item = [ ('product1', 10), ('product2', 13), ('product3', 9) ]

com_filtered= [item for item in items if item[1]> 9 ]

print(com_filtered)

[('product1', 10), ('product2', 13)]

In [143]:
# LAMBDA FUUNTIONS...we are sorting item based on object in index [1] which is either, 10, 13, or 9.


item = [ ('product1', 10), ('product2', 13), ('product3', 9) ]

item.sort(key= lambda item: item[1])
print(item)

[('product3', 9), ('product1', 10), ('product2', 13)]

In [149]:
# Iterate through list orr article and prices
items = [ ('product1', 10), ('product2', 13), ('product3', 9) ]


article= []
prices = []


for item in items:
    article.append(item[0])
    prices.append([item[1]])
    
print(article)    
print(prices)

['product1', 'product2', 'product3']
[[10], [13], [9]]

SLICING LIST

MAP FUNCTIONS....
The map() function returns a map object (an iterator) of the results after applying the specified function to each element of a given iteration (list, tuple, etc.).

Break down of the code: we are working with the map and lambda functions. 
'lambda x', so for 'lambda x' in items, we 
need only the first value from each tuples, so x[0] from items.
and we have to list our output. list(output)

a_s = list(map(lambda x: x[0], items))

a_s

In [156]:
#MAP FUNCTIONS.... Extracting the price of each items from the list.

items = [ ('product1', 10), ('product2', 13), ('product3', 9) ]

price = list(map(lambda item: item[1], items))

print(price)

[10, 13, 9]

In [168]:
#FILTERING FUNCTION... to filte items greater than 9

items = [ ('product1', 10), ('product2', 13), ('product3', 9) ]

filtered = list(filter(lambda item: item[1] > 9, items))

print(filtered)
print(filtered[1])

[('product1', 10), ('product2', 13)]
('product2', 13)

In [170]:
def addition(n):
    return n + n
 
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [183]:
#ZIP FUNCTIONS

# Combining two list to a tuple base on index of the list

list1 = [1, 2, 3]
list2 = [4, 5, 6]

zip_fun= list(zip(list1, list2))

zip_fun= list(zip(list1, list2, [7, 8, 9])) # you can also add more list manually
print(zip_fun)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

# TUPLES ()
Is read only list that we cannot modified a new onject to it, we can't add or remove any object

In [201]:
point = (1, 2) #it can also be define without parenthesis like point = 1, 2 

print(type(point))


point = (1, 2, 9) + (3, 4) # we can also concatenate tuples
print("Concatination:", point)


point = (1, 2) * 4 # we can also multiply to repeat a tuple
print("pultiply:", point)


point = list((1, 2)) # we can convert tuple to list as we can convert list to tuples tuples([10, 12])
print("to_list:", point)


point = (1, 2, 9) # we can also access tuples with indexing
print('index:', point[1])

<class 'tuple'>
Concatination: (1, 2, 9, 3, 4)
pultiply: (1, 2, 1, 2, 1, 2, 1, 2)
to_list: [1, 2]
index: 2

In [208]:
#SWAPPING VARIABLES

x = 9

y = 10

x , y = y , x # it is also the same as (y , x)

print("x", x, "y", y)

x 10 y 9

In [ ]:
#ARRAYS.... An array is a special variable, which can hold more than one value at a time.

#SETS... Sets are used to store multiple items in a single variable.Once a set is created, you cannot change its items, but you can remove items and add new items. And cannot be access with indexing.

In [222]:
numbers = [1, 1, 2, 3, 4]
first = set(numbers) # set get us the distinct values of our data.
print("distinct", first)

second = {1, 2, 5}

union = first | second # getting the union of two set
print("union", union)

intersection = first & second # getting values that are in first and second set.
print("intersection", intersection)

diff = first - second # getting difference between first and second set.
print("diff", diff)

intersection = first & second # getting values that are in first and second set.
print(intersection)

sem_dif = first ^ second # getting semantic difference values that are in first and second set.
print("semantic", sem_dif)

if 1 in second:  # We can check for an existance of a value in set.
    print('yes')

distinct {1, 2, 3, 4}
union {1, 2, 3, 4, 5}
intersection {1, 2}
diff {3, 4}
{1, 2}
semantic {3, 4, 5}
yes

In [234]:
#DICTIONARY dict()... KEY AND VALUE PAIRS. we can add items and also remove the existing ones

point = dict(x=1, y=2)
print(point)

point['x']  = 10 # change the value of x from 1 to 10

point['z'] = 20 # add another key and value to the data called point
print(point)

if 'a' in point:   # to check if 'a' exist in out data
    print('a')
    
del point['x'] # delete 'x' and its value from the data
print(point)


for key, value in point.items(): # iterating through dictionary
    print(key, value)

{'x': 1, 'y': 2}
{'x': 10, 'y': 2, 'z': 20}
{'y': 2, 'z': 20}
y 2
z 20

In [236]:
#DICTIONARY COMPREHENSION


values= {x: x*2 for x in range(5)}
print(values)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

GENERATOR EXPRESSIONS: Situation when you are dealing with a really large dataset, use a generator expression to create a genrator object. using of parenthesis around a comprehension expression... because Genrator expression didnot store all the item in memory, we wont be able to get the total number of items you are working with. we cannot len() the generator expression.

In [242]:
from sys import getsizeof

values = (x *2 for x in range(100000)) #Generator expression same memory
print("Gen_expre",getsizeof(values))


values = [x *2 for x in range(100000)] # List Comprehension
print("List", getsizeof(values))

Gen_expre 128
List 824472

In [253]:
#TASK get the most common/ appeared in sentence.

sentence = "This is a common interview question"

char_frequency = {}

for char in sentence:
    if char in char_frequency:
        
        char_frequency[char] += 1
        
    else:
        char_frequency[char] = 1
        
char_frequency_sorted = sorted(char_frequency.items(), key=lambda kv: kv[1], reverse=True)        
        
        
print(char_frequency_sorted[0])

('i', 5)